.media-info {
  display: flex;
  width: 100%;
  padding: 20px 130px;
  background-color: #0c0e0e;
}

.media-info img {
  max-width: 240px;
  max-height: 200px;
  margin-right: 20px;
  object-fit: cover;
}

.media-info h4 {  
  color: #ffc107;
  text-transform: uppercase;
  font-size: 14px;
}