.media img {
max-width: 340px;
max-height: 300px;
}

@media screen and (max-width: 980px) {
  .media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .media img {display: none;}
}