.media img {
  max-width: 380px;
  max-height: 280px;
}

.vid-preview {
  width: 425px;
  height: 245px;
}

pre {
  width: 100% !important;
  max-height: 230px;
  white-space: pre-wrap;
  color: #bbbbc9;
}

.badge {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 100;
}

@media screen and (max-width: 980px) {
  .media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .media img,
  .vid-preview {
    display: none;
  }
}