.media-info {
  display: flex;
  padding-top: 20px;  
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.media-info img {
  max-width: 200px;
  max-height: 160px;
  margin-right: 20px;
  object-fit: cover;
}

.media-info h4 {  
  color: #8f0000;
  text-transform: uppercase;
  font-size: 14px;
}