body {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: #131718;
}

#root {
  width: 100%;
  height: 100%;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
}

h2 {
  color: #ff9800;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  width: 100%;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #1b2020;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

header {
  background-image: linear-gradient(#131718d4, #131718b3), url(/static/media/bg.fe19983b.jpg);
}

.navbar {
  background-color: inherit !important;
}

.navbar-brand {
  color: #ff9800 !important;
  font-size: 25px;
  font-weight: 600;
}

.jumbotron {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.img-thumbnail {
  background-color: #1d2223;
  border: 1px solid #1d2223;
  box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.05);
}

pre {
  width: 100% !important;
  max-height: 200px;
  white-space: pre-wrap;
  color: #bbbbc9;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.is-active {
  color: #ff9800 !important;
}

.w-80 {
  width: 80%;
}

a {
  text-decoration: none !important;
}

@media screen and (max-width: 1140px) {
  .w-50 {
    width: 60% !important;
  }
}

@media screen and (max-width: 980px) {

  h2 {
    font-size: 40px;
  }

  .w-80{
    width: 100% !important;
  }

  .w-50 {
    width: 80% !important;
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: 20px;
  }

  .input {
    padding: 10px;
  }

  .w-50 {
    width: 100% !important;
  }
}