*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: #293a46;
  font-family: 'Montserrat', ;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Sriracha';
  color: #ca0505;
  font-size: 30px;
}

h3 {
  width: 100%;
  font-size: 22px;
  margin: 0;
  text-align: left !important;
}

.jumbotron,
footer {
  width: 100%;
  max-width: 60%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.jumbotron:first-child>p {
  font-family: 'Squada One' !important;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 0;
  outline: none;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.input {position: relative;}
.input > i {    position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;}

button,
a {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 24px;
  padding: 6px 24px;
  cursor: pointer;
  text-transform: uppercase;
  background: #ca0505;
  color: #ffffff;
  border: 0;
  transition: background-color .3s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.btn-download:hover {background-color: #00740a;}

.link {
  background-color: inherit !important;
  border: 0 !important;
  box-shadow: none !important;
  padding: 0;
  color: #293a46 !important;
  font-size: 12px !important;
}

button:hover,
button:active {
  background-color: #8f0000 !important;
  color: #FFFFFF !important;
}

footer {
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {

  .jumbotron,
  footer {
    max-width: 90% !important;
  }
}

/* */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ca0505;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f0000;
}