/* margin */
.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}

.mt-20 {margin-top: 20px !important;}
.mb-20 {margin-bottom: 20px;}

.mb-10 {margin-bottom: 10px;}

.mr-20 {margin-right: 20px;}

/* padding */
.p-0{padding: 0 !important;}
/**/
.fs-18 {font-size: 18px;}

.w-100 {width: 100% !important;}

/**/
.bg-green {     background-color: #1E8E3E; color: #ffffff; }
.color-yellow {color: yellow;}
.color-red {    color: #8f0000;}
/**/
.border-left {border-left: 1px solid #ddd !important; padding-left: 20px !important;}
.border-bottom {border-bottom: 1px solid #ddd !important; padding-bottom:20px !important;}

.b-sha {box-shadow: none !important;}

p {font-family: 'Lato' !important ;
  word-break: break-all;}

  /**/

.d-flex {display: flex; justify-content: center; align-items: center;}
.d-flex-col {display: flex; flex-direction: column;}

.d-flex-row {display: flex; }

.d-flex-end {display: flex; justify-content: flex-end;}